@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  background-color: #e4ecf0;
  font-family: 'Montserrat', sans-serif
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D7E3E9;
  margin-bottom: 2em;
}

.cursive {
  font-family: 'WindSong', cursive;
  font-size: 40px;
}

.one {
  color: rebeccapurple;
}

.two {
  color: green;
}

.three {
  color: red;
  font-size: 16px;
  vertical-align: text-top
}

.four {
  color: blue;
}

